@charset "utf-8";
/* CSS Document */


html,body{
    font-family: ChinaCyr;
    width:100%;
    height:100%;
    background: #135fe9; /* Old browsers */
    background: -moz-linear-gradient(top,  #135fe9 0%, #a1bff6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135fe9), color-stop(100%,#a1bff6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #135fe9 0%,#a1bff6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #135fe9 0%,#a1bff6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #135fe9 0%,#a1bff6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #135fe9 0%,#a1bff6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135fe9', endColorstr='#a1bff6',GradientType=0 ); /* IE6-9 */


}

.navigation{
	position:fixed;
	z-index:1;	
	top:110px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	right:1px;	
	background:rgb(36, 185, 255);
}


.navigation li{	
	color:rgba(255,255,255,1);
	/*text-shadow: 1px 1px 1px black;*/
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	/*font-weight:bold;*/
	-webkit-transition: all .2s ease-in-out;	
	text-align:left;
	width:100px;
}
.envatologo{
        position:fixed;
        top:50%;
        left:50%;
        width:446px;
        margin-top:-41px;
        margin-left:-223px;
        z-index:1;
}
.slide{
        background-attachment: fixed; 
        background-size:cover;
	width:100%;
	height:100%;
	position: relative;
        box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color: rgba(0,0,0,0.5);
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/*----------------------------css for tetxt div------------------------------*/



.text_box_title{
    position: relative;    
    top: 25px;
    color: white;
    font-family: ChinaCyr, serif;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.text_box_content{
    position: relative;
    float: left;    
    top: 30px;    
    text-align: justify;
    font-size: 15px;
    padding: 0px 33px;    
    padding-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color:#ffffff;
    line-height: 1.6;
    font-family: arial;
    font-size:15px;
}

.text_button{
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    position: relative;
    margin: 15px 0px;    
    height: 60px;
    width: 175px;
    left: 184px;
    top: 184px;
   
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.more{
   position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    top: 20px;
    left: 30px;
    height: 60px;
}

.text_button:hover {
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    position: relative;
    margin: 15px 0px;    
    height: 60px;
    width: 175px;
    left: 184px;
    top: 184px;  
    -webkit-filter: grayscale(100%);
}

.text_button_content{
    position: relative;
    height: 55px;
    text-shadow:0 3px 2px rgba(0,0,0,0.3);
    top: 3px;
    left: 0px;
}

.text_box_link{
    margin: 10px 0px;    
    border-top: solid 2px rgba(0,0,0,0.3);
}

.text_link{
    margin-top: 8px;
    border:solid 2px rgba(179, 102, 9,0.9);
    padding: 7px;
    width: 147px;
    float: right;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.text_link a{
    font-family: ChinaCyr, serif;
    color: rgba(202, 184, 125, 0.9);
    font-weight: 500;
    text-decoration: none;
}

/*---------------------------end css for text div---------------------------*/

/******************************
 SLIDE 1 
*******************************/
#slide1{
    background-image: url("../images/nagano/slide1.jpg");
    	
}

#slide1 .logo:nth-child(1){

    position: absolute;
    top:-30px;
    left:10%;
}

#slide1 .form:nth-child(2){

    position: absolute;
    top:50px;
    right:-6%;
    width: 300px;
    border-radius: 2px;   
    background-color: rgba(161, 191, 246, 0.38)
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
    background-image: url("../images/nagano/slide2.jpg");
    background-repeat: no-repeat;
}
#slide2 .video-wrapper:nth-child(1){
position:absolute;
top:230px;
left:270px; 
}

#slide2 .text_box:nth-child(2){
        position:absolute;        
        background-image: url("../img/text-block2.png");
        background-repeat: no-repeat;	  
	top:-110px;
	left:-130px;       	
	width:368px;
        height: 356px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
    background-image: url("../images/nagano/slide3.jpg");
    background-repeat: no-repeat;
}

#slide3 .text_box:nth-child(1){
        position:absolute;        
        background-image: url("../img/text-block2.png");
        background-repeat: no-repeat;	  
	top:-185px;
	left:-150px;       	
	width:368px;
        height: 356px;
	
}

#slide3 .text_box:nth-child(2){
        position:absolute;        
        background-image: url("../img/text-block2.png");
        background-repeat: no-repeat;	  
	top:30px;
	left:250px;       	
	width:368px;
        height: 356px;
	
}

#slide3 .text_box:nth-child(3){
        position:absolute;        
        background-image: url("../img/text-block2.png");
        background-repeat: no-repeat;	  
	top:-185px;
	left:700px;       	
	width:368px;
        height: 356px;
	
}


/******************************
 SLIDE 4 
*******************************/

#slide4{
    background-image: url("../images/nagano/slide4.jpg");
    background-repeat: no-repeat;

}
a {
    color: rgb(36, 185, 255);
}

#slide4 .text_box:nth-child(1) {
	position:absolute;        
        background-image: url("../img/text-block2.png");
        background-repeat: no-repeat;	  
	top:-185px;
	left:-150px;       	
	width:368px;
        height: 356px;
}

/*---------------------------------------------------------------------------------------*/


.header {
    position: fixed;
    width: 100%;
    /*background: rgb(243, 238, 205);*/
    background: url("../img/bg_of_header.png") repeat-x;
    background-size: 13px, 29px, 37px, 53px;
    height: 35px;
    margin-top: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.64);
    z-index: 10000;
}
.menu {
    display: inline-block;
    vertical-align: middle;
}
.menu-item {
    display: inline-block;
    border-left: 1px solid rgba(151, 153, 151,0);
    border-right: 1px solid rgba(151, 153, 151,0);
    color: rgba(27, 20, 20, 0.88);;
    margin-left: 30px;
}
.last-menu {
    margin-right: 10px;
}
.menu-item:hover {
    cursor: pointer;
    display: inline-block;
    color: rgb(250, 250, 250);
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
    -o-transition: color 1s;
}
.menu-item.active {
    color: rgb(250, 250, 250);
}
.social-networks {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.social-network {
    width: 30px;
    height: 26px;
    display: inline-block;
    margin-top: 4px;
    box-shadow: 0 0 1px black;
}
.social-network:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
}
.vk {
    background-image: url(../img/vk_button.png);
    background-size: 30px 26px;
}
.fb {
    background-image: url(../img/fb-icon.png);
    background-size: 28px 26px;
    width: 28px;
    height: 26px;
    margin-left: 10px;
}
.logo {
    /*background: url("../img/logo_f.png") no-repeat;*/
    background-size: 100% 100%;    
    cursor: pointer;
    width: 350px;
    height: 350px;
    display: inline-block;    
    /*margin-left: 40%;*/
}
.menu-spacer {
    height: 60px;
}
.content {
    padding-top: 30px;
}
/*.form {
    
    width: 400px;
    border-radius: 2px;
    margin-right: 20px;
    background-color: rgba(241, 241, 206, 0.47);
    margin-top: 90px;
    float: right;
    position: relative;
    max-width: 700px;
}*/
.form-block {
    margin: 20px 0;
    font-family: Ledger;
}
.input-form {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgba(19, 95, 233, 0.36);
    padding: 0;
    border: 1px inset;
    height: 30px;
    text-align: center;
    color: rgba (250,250,250,1)
}
.submit-button {
    display: block;
    margin-top: 20px;
    background-color: rgba(19, 95, 233, 0.46);
    width: 62%;
    margin: 20px auto;
    border-radius: 2px;
    border: 1px outset rgb(19, 95, 233);
    height: 30px;
    font-family: ChinaCyr;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    cursor:pointer;
}
.submit-button:hover {
    color:white;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
    -o-transition: color 1s;
}

.content-block {
    background-color: rgba(241, 241, 206, 0.47);
}
.speed-block {
    background-attachment: fixed;
    position: relative;
}
.video-block {
    background: rgba(0, 0, 0, 0.53);
    min-height: 275px;
    border: 4px inset rgba(0, 0, 0, 0.34);
}
.slider {
    width: 650px;
    height: 365px;
    margin: auto;
    z-index: 2
}
.slides {
    height: 100%;
}
/*.slide {
    height: 100%;
}*/