@charset "utf-8";
/* CSS Document */
html,body{
    font-family: ChinaCyr;
    width:100%;
    height:100%;
}
.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-color: rgba(0,0,0,0.5);
    background-image:url(../images/arrow.png);
}
.button:hover{
    background-color:#494949;
    cursor:pointer;
}
.text_box_title{
    position: relative;
    top: 25px;
    color: white;
    font-family: ChinaCyr, serif;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.text_box_content{
    position: relative;
    float: left;
    top: 30px;
    text-align: justify;
    font-size: 15px;
    padding: 0px 33px;
    padding-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color:#ffffff;
    line-height: 1.6;
    font-family: arial;
    font-size:15px;
}

.text_button{
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    position: relative;
    margin: 15px 0px;
    height: 60px;
    width: 175px;
    left: 184px;
    top: 184px;

}

.more{
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    top: 20px;
    left: 30px;
    height: 20px;
}

.more:hover{
    color:white;
    -webkit-transition: color 1.5s;
    -moz-transition: color 1.5s;
    transition: color 1.5s;
    -o-transition: color 1.5s;
}
.text_button:hover {
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    position: relative;
    margin: 15px 0px;
    height: 60px;
    width: 175px;
    left: 184px;
    top: 184px;
}

.text_button_content{
    position: relative;
    height: 55px;
    font-weight: 500;
    top: 3px;
    left: 0px;
}

.text_box_link{
    margin: 10px 0px;
    border-top: solid 2px rgba(0,0,0,0.3);
}

.text_link{
    margin-top: 8px;
    border:solid 2px rgba(179, 102, 9,0.9);
    padding: 7px;
    width: 147px;
    float: right;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.text_link a{
    font-family: ChinaCyr, serif;
    color: rgba(202, 184, 125, 0.9);
    font-weight: 500;
    text-decoration: none;
}

.slide{
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}
#slide1{
    background-image: url("../images/nagano/slide1.jpg");
}
#slide2{
    background-image: url("../images/nagano/slide2.jpg");
}
#slide3{
    background-image: url("../images/nagano/slide3.jpg");
}
#slide4{
    background-image: url("../images/nagano/slide4.jpg");
}
a {
    color: rgb(36, 185, 255);
}
.header {
    position: fixed;
    width: 100%;
    /*background: rgb(243, 238, 205);*/
    background: url("../img/bg_of_header/bg_of_header10.png") repeat-x;
    background-size: 13px, 29px, 37px, 53px;
    height: 35px;
    margin-top: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.64);
    z-index: 10000;
}
.menu {
    display: inline-block;
    vertical-align: middle;
}
.menu-item {
    display: inline-block;
    border-left: 1px solid rgba(151, 153, 151,0);
    border-right: 1px solid rgba(151, 153, 151,0);
    color: rgba(27, 20, 20, 0.88);
    margin-left: 30px;
}
.last-menu {
    margin-right: 10px;
}
.menu-item:hover {
    cursor: pointer;
    display: inline-block;
    color: rgb(250, 250, 250);
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
    -o-transition: color 1s;
}
.menu-item.active {
    color: rgb(250, 250, 250);
}
.social-networks {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.social-network {
    width: 30px;
    height: 26px;
    display: inline-block;
    margin-top: 4px;
    /*box-shadow: 0 0 1px black;*/
    border-radius: 5px;
}
.social-network:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
    border-radius: 5px;
}
.vk {
    background-image: url(../img/vk2.jpg);
    background-size: 30px 26px;
}
.fb {
    background-image: url(../img/fb1.png);
    background-size: 28px 26px;
    width: 28px;
    height: 26px;
    margin-left: 10px;
}
.logo {
    background-image: url("../img/logo/logo-lime.png");
    position: fixed;
    background-size: 100% 100%;
    cursor: pointer;
    width:250px;
    height: 250px;
    left: 1%;
    top: 8%;
    z-index: 10;
    border-radius: 5px;

}

.logo:hover{
    background-image: url("../img/logo/logo-lime-hover2.png");
    -webkit-transition: background-image 1.5s;
    -moz-transition: background-image 1.5s;
    transition: background-image 1.5s;
    -o-transition: background-image 1.5s;
}
.menu-spacer {
    height: 60px;
}
.content {
    padding-top: 30px;
}
/*.form {

    width: 400px;
    border-radius: 2px;
    margin-right: 20px;
    background-color: rgba(241, 241, 206, 0.47);
    margin-top: 90px;
    float: right;
    position: relative;
    max-width: 700px;
}*/
.form-block {
    margin: 20px 0;
    font-family: Ledger;
}
.input-form {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgba(19, 95, 233, 0.36);
    padding: 0;
    border: 1px inset;
    height: 30px;
    text-align: center;
    color: rgba(250,250,250,1);
}
.submit-button {
    display: block;
    margin-top: 20px;
    background-color: rgba(19, 95, 233, 0.46);
    width: 62%;
    margin: 20px auto;
    border-radius: 2px;
    border: 1px outset rgb(19, 95, 233);
    height: 30px;
    font-family: ChinaCyr;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    cursor:pointer;
}
.submit-button:hover {
    color:white;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
    -o-transition: color 1s;
}
.video-block {
    background: rgba(0, 0, 0, 0.53);
    min-height: 275px;
    border: 4px inset rgba(0, 0, 0, 0.34);
}